body{
	background-color: #ffffff;
	font-family: "微软雅黑";
}
.bt-black{
	margin-top: 40px;
	color: #000;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-weight: bolder;
}
.bt-yellow{
	margin-top: 20px;
	color: red;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-weight: bolder;
}
img{
	width: 200px;
	height: 200px;
}
.bt-img{
	width: 200px;
	margin: 10px auto;
	
}
.bt-ccc{
	margin: 10px auto;
	color: #CCCCCC;
	text-align: center;
	line-height: 20px;
	font-size: 13px;
	width: 200px;
}
